<h1>Navodila za uporabo aplikacije:</h1><br>

<h4>Pogled Lokacije</h4>
<p>Prikazane so vse lokacije. Te se delijo na skladišča in navadne lokacije. Vsako lokacijo lahko podrobno pregledamo</p>
<br>

<h4>Pogled posamezne lokacije</h4>
<p>Prikaže lokacijo ter povezavo do prikaza koordinat lokacije na google zemljevidih. Prikazana je tudi tabela opreme na lokaciji po kateri lahko iščemo.  Opremo si lahko tudi podrobneje ogledamo s pritiskom na gumb ob opremi.
    <br>Lokacijo lahko izbrišemo v dveh pogojih:<br>

-	Če je lokacija skladišče mora biti vsa oprema vrnjena v to skladišče<br>
-	Če lokacija ni skladišče, na lokaciji ne sme biti nobene opreme

</p>
<br>

<h4>Pogled Oprema</h4>
<p>Prikaže se tabela opreme po kateri lahko iščemo. Opremo si lahko tudi podrobneje ogledamo s pritiskom na gumb ob opremi.</p>
<br>

<h4>Pogled posamezne opreme</h4>
<p>Prikaže se izpolnjena forma za urejanje opreme, ki je zaklenjena v primeru, da vsa oprema ni vrnjena v skladišče. Enako je z brisanjem opreme</p>
<br>

<h4>Pogled vzemi opremo</h4>
<p>Izberemo iz kje in kam bomo odnesli opremo. Nato izberemo katero in Koliko opreme bomo odnesli ter prenos opreme še potrdimo.</p>
<br>

<h4>Pogled Moja oprema</h4>
<p>Prikaže vse lokacije, ki niso skladišča ter pod njimi opremo na tisti lokaciji za katero tmo mi odgovorni (smo jo mi vzeli na to lokacijo).</p>
<br>