<section>
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5 text-center">
      <h4 class="mt-2">Za prijavo prosim vnesi svoje prijavne podatke:</h4>
      <p class="my-3">Še nimaš računa? <a [routerLink]="['/register']" class="fw-bold">Registriraj se!</a>
      <div class="mb-md-5 mt-md-4 pb-5">
        <div class="alert alert-danger" *ngIf="formError" role="alert">{{ formError }}</div>
        <div class="form-outline form-white mb-4">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" placeholder="johnny@novak.si" [(ngModel)]="credentials.email" />
        </div>
        <div class="form-outline form-white mb-4">
          <label class="form-label">Geslo</label>
          <input type="password" class="form-control" placeholder="*********" [(ngModel)]="credentials.password" />
        </div>
        <button class="btn btn-dark px-5 mt-3" (click)="loginUser()">Prijava</button>
      </div>
    </div>
  </div>
</section>