<section class='py-5'> 
<div *ngIf="location">
    <div class="page-header">
            <h1>{{ location.name }} 
                <a *ngIf="location.coordinates[0] == 0 && location.coordinates[1] == 0 " class='subttl ml-2' href='https://www.google.com/maps/search/{{ location.location }}' target='new'><i class="bi bi-geo-alt-fill" style="font-size: 2rem"></i></a>
                <a *ngIf="location.coordinates[0] != 0 && location.coordinates[1] != 0" class='subttl ml-2' href='https://www.google.com/maps/place/{{ location.coordinates[0] }},{{ location.coordinates[1] }}' target='new'><i class="bi bi-geo-alt-fill" style="font-size: 2rem"></i></a>
            </h1>
            
    </div>




  
    <!-- Modal LOC -->
    <div  class="modal fade" id="locModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Izbris lokacije</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                Ali ste prepričani, da želite izbrisati lokacijo: <b>{{location.name}}</b>?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Izbris skladišča</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteLoc()">Izbriši</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal WRH -->
    <div  class="modal fade" id="wrhModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Izbris skladišča</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                Ali ste prepričani, da želite izbrisati skladišče: <b>{{location.name}}</b>?
                <br>
                <div *ngIf="itemsNumber != 0">
                    <label for="inputWrh"> Prenesi opremo v skladišče: </label>
                    <select id="inputWrh" class="form-control form-select" [formControl]="wrhSelector">
                        <option *ngFor="let wrh of defLocations; let i = index" [disabled]="defLocations[i]._id == locId" [value]="defLocations[i]._id"> {{defLocations[i].name}} </option>
                    </select>
                </div>

            </div>



            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Prekliči</button>
            <button [disabled]="wrhSelector.value == -1" type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteWrh()">Izbriši</button>
            </div>
        </div>
        </div>
    </div>
    

    <div class="container pt-2 px-4 px-lg-5 mat-elevation-z8" id="container">

        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target)" placeholder="Filter">
        </mat-form-field>



        <mat-table #table [dataSource]="itemsOnLoc">

            
            <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef> Koda </mat-header-cell>
            <mat-cell *matCellDef="let itm" class="ml-1"> {{ itm.code }} </mat-cell>
            </ng-container>
        
        
            <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Naziv opreme </mat-header-cell>
            <mat-cell *matCellDef="let itm" class="ml-1"> {{ itm.name }} </mat-cell>
            </ng-container>
        

            <ng-container matColumnDef="desc">
            <mat-header-cell *matHeaderCellDef> Opis </mat-header-cell>
            <mat-cell *matCellDef="let itm" class="ml-1"> {{ itm.description }} </mat-cell>
            </ng-container>
        
        
            <ng-container matColumnDef="loc">
            <mat-header-cell *matHeaderCellDef> Lokacija </mat-header-cell>
            <mat-cell *matCellDef="let itm" class="ml-1"> {{ itm.defaultLocation.name }} </mat-cell>
            </ng-container>

        
            <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef> Količina </mat-header-cell>
            <mat-cell *matCellDef="let itm" class="ml-1"> {{ itm.quantity }} </mat-cell>
            </ng-container>


        
            <ng-container  matColumnDef="btn">
                
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let itm" class="ml-1"> <a [routerLink]="['/item-show', itm._id]" class="btn btn-outline-dark " ><i class="bi bi-pencil-square"></i></a> </mat-cell>
                
            </ng-container> 

        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page items">
        </mat-paginator>


    </div>

    <button *ngIf="location.locationType == 'permanent'" type="button"  class="btn btn-danger" style="margin-top: 10px;" data-toggle="modal" data-target="#wrhModal" > Izbrisi skladišče</button>
    <button *ngIf="location.locationType != 'permanent'" [disabled] = "this.itemsNumber != 0" type="button"  class="btn btn-danger" style="margin-top: 10px;" data-toggle="modal" data-target="#locModal"  > Izbriši lokacijo</button>

</div>
<div *ngIf="!location" class="row">
    <div class="col-12 text-center">
        <div  class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

</section>